{
  "name": "{{ name }}-frontend",
  "private": true,
  "version": "0.1.0",
  "scripts": {
    "dev": "next dev --hostname 0.0.0.0 --port 3000",
    "build": "{{ next_build }}",
    "start": "{{ next_start }}"
  },
  "dependencies": {
    "next": "^15.3.0",
    "react": "^19.0.0",
    "react-dom": "^19.0.0"
  }
}
